In [2]:
# from original example.ipynb
import yaml
from data_formatter.base import DataFormatter

In [ ]:
# all fro original example.ipynb, but with a different dataset
import yaml
from data_formatter.base import DataFormatter

# load config file
dataset = 'hall' # changed from 'weinstock' dataset
with open(f'./config/{dataset}.yaml', 'r') as f:
    config = yaml.safe_load(f)
# create data formatter: loads the data and performs the pre-processing
formatter = DataFormatter(config)

--------------------------------
Loading column definition...
Checking column definition...
Loading data...
Dropping columns / rows...
Checking for NA values...
Setting data types...
Dropping columns / rows...
Encoding data...
	Updated column definition:
		id: REAL_VALUED (ID)
		time: DATE (TIME)
		gl: REAL_VALUED (TARGET)
		Age: REAL_VALUED (STATIC_INPUT)
		BMI: REAL_VALUED (STATIC_INPUT)
		A1C: REAL_VALUED (STATIC_INPUT)
		FBG: REAL_VALUED (STATIC_INPUT)
		ogtt.2hr: REAL_VALUED (STATIC_INPUT)
		insulin: REAL_VALUED (STATIC_INPUT)
		hs.CRP: REAL_VALUED (STATIC_INPUT)
		Tchol: REAL_VALUED (STATIC_INPUT)
		Trg: REAL_VALUED (STATIC_INPUT)
		HDL: REAL_VALUED (STATIC_INPUT)
		LDL: REAL_VALUED (STATIC_INPUT)
		mean_glucose: REAL_VALUED (STATIC_INPUT)
		sd_glucose: REAL_VALUED (STATIC_INPUT)
		range_glucose: REAL_VALUED (STATIC_INPUT)
		min_glucose: REAL_VALUED (STATIC_INPUT)
		max_glucose: REAL_VALUED (STATIC_INPUT)
		quartile.25_glucose: REAL_VALUED (STATIC_INPUT)
		median_glucose: REAL_VALUED (STATIC_INPUT)
		quartile.75_glucose: REAL_VALUED (STATIC_INPUT)
		mean_slope: REAL_VALUED (STATIC_INPUT)
		max_slope: REAL_VALUED (STATIC_INPUT)
		number_Random140: REAL_VALUED (STATIC_INPUT)
		number_Random200: REAL_VALUED (STATIC_INPUT)
		percent_below.80: REAL_VALUED (STATIC_INPUT)
		se_glucose_mean: REAL_VALUED (STATIC_INPUT)
		numGE: REAL_VALUED (STATIC_INPUT)
		mage: REAL_VALUED (STATIC_INPUT)
		j_index: REAL_VALUED (STATIC_INPUT)
		IQR: REAL_VALUED (STATIC_INPUT)
		modd: REAL_VALUED (STATIC_INPUT)
		distance_traveled: REAL_VALUED (STATIC_INPUT)
		coef_variation: REAL_VALUED (STATIC_INPUT)
		number_Random140_normByDays: REAL_VALUED (STATIC_INPUT)
		number_Random200_normByDays: REAL_VALUED (STATIC_INPUT)
		numGE_normByDays: REAL_VALUED (STATIC_INPUT)
		distance_traveled_normByDays: REAL_VALUED (STATIC_INPUT)
		diagnosis: REAL_VALUED (STATIC_INPUT)
		freq_low: REAL_VALUED (STATIC_INPUT)
		freq_moderate: REAL_VALUED (STATIC_INPUT)
		freq_severe: REAL_VALUED (STATIC_INPUT)
		glucotype: REAL_VALUED (STATIC_INPUT)
		Height: REAL_VALUED (STATIC_INPUT)
		Weight: REAL_VALUED (STATIC_INPUT)
		Insulin_rate_dd: REAL_VALUED (STATIC_INPUT)
		perc_cgm_prediabetic_range: REAL_VALUED (STATIC_INPUT)
		perc_cgm_diabetic_range: REAL_VALUED (STATIC_INPUT)
		SSPG: REAL_VALUED (STATIC_INPUT)
		time_year: REAL_VALUED (KNOWN_INPUT)
		time_month: REAL_VALUED (KNOWN_INPUT)
		time_day: REAL_VALUED (KNOWN_INPUT)
		time_hour: REAL_VALUED (KNOWN_INPUT)
		time_minute: REAL_VALUED (KNOWN_INPUT)
Interpolating data...
	Dropped segments: 160
	Extracted segments: 152
	Interpolated values: 8003
	Percent of values interpolated: 8.57%
Splitting data...
	Train: 62461 (61.57%)
	Val: 12357 (12.18%)
	Test: 16517 (16.28%)
	Test OOD: 10113 (9.97%)
Scaling data...
	No scaling applied
Data formatting complete.
--------------------------------

Once the data is loaded and pre-processed, we can access the underlying tables via the following set of commands.

In [4]:
# full data, unscaled
formatter.data.head()

,time,id,gl,Age,BMI,A1C,FBG,ogtt.2hr,insulin,hs.CRP,...,Insulin_rate_dd,perc_cgm_prediabetic_range,perc_cgm_diabetic_range,SSPG,time_year,time_month,time_day,time_hour,time_minute,id_segment
0,2014-02-03 03:42:00,0.0,93.0,59.0,21.700001,6.7,109.0,205.0,9.0,0.3,...,0.1015,0.190404,0.026211,91.0,2014.0,2.0,3.0,3.0,42.0,0
1,2014-02-03 03:47:00,0.0,93.0,59.0,21.700001,6.7,109.0,205.0,9.0,0.3,...,0.1015,0.190404,0.026211,91.0,2014.0,2.0,3.0,3.0,47.0,0
2,2014-02-03 03:52:00,0.0,93.0,59.0,21.700001,6.7,109.0,205.0,9.0,0.3,...,0.1015,0.190404,0.026211,91.0,2014.0,2.0,3.0,3.0,52.0,0
3,2014-02-03 03:57:00,0.0,95.0,59.0,21.700001,6.7,109.0,205.0,9.0,0.3,...,0.1015,0.190404,0.026211,91.0,2014.0,2.0,3.0,3.0,57.0,0
4,2014-02-03 04:02:00,0.0,96.0,59.0,21.700001,6.7,109.0,205.0,9.0,0.3,...,0.1015,0.190404,0.026211,91.0,2014.0,2.0,3.0,4.0,2.0,0

In [5]:
# train data, scaled
formatter.train_data.head()

,time,id,gl,Age,BMI,A1C,FBG,ogtt.2hr,insulin,hs.CRP,...,Insulin_rate_dd,perc_cgm_prediabetic_range,perc_cgm_diabetic_range,SSPG,time_year,time_month,time_day,time_hour,time_minute,id_segment
0,2014-02-03 03:42:00,0.0,93.0,59.0,21.700001,6.7,109.0,205.0,9.0,0.3,...,0.1015,0.190404,0.026211,91.0,2014.0,2.0,3.0,3.0,42.0,0
1,2014-02-03 03:47:00,0.0,93.0,59.0,21.700001,6.7,109.0,205.0,9.0,0.3,...,0.1015,0.190404,0.026211,91.0,2014.0,2.0,3.0,3.0,47.0,0
2,2014-02-03 03:52:00,0.0,93.0,59.0,21.700001,6.7,109.0,205.0,9.0,0.3,...,0.1015,0.190404,0.026211,91.0,2014.0,2.0,3.0,3.0,52.0,0
3,2014-02-03 03:57:00,0.0,95.0,59.0,21.700001,6.7,109.0,205.0,9.0,0.3,...,0.1015,0.190404,0.026211,91.0,2014.0,2.0,3.0,3.0,57.0,0
4,2014-02-03 04:02:00,0.0,96.0,59.0,21.700001,6.7,109.0,205.0,9.0,0.3,...,0.1015,0.190404,0.026211,91.0,2014.0,2.0,3.0,4.0,2.0,0

In [6]:
# out-of-distribution test data, scaled (OOD meaning test set differs significantly from training)
formatter.test_data[formatter.test_data.index.isin(formatter.test_idx_ood)].head()

,time,id,gl,Age,BMI,A1C,FBG,ogtt.2hr,insulin,hs.CRP,...,Insulin_rate_dd,perc_cgm_prediabetic_range,perc_cgm_diabetic_range,SSPG,time_year,time_month,time_day,time_hour,time_minute,id_segment
3540,2015-04-02 13:33:00,2.0,129.0,50.0,27.299999,5.2,91.0,121.0,4.0,4.4,...,-1.0,0.071429,0.001544,75.0,2015.0,4.0,2.0,13.0,33.0,5
3541,2015-04-02 13:38:00,2.0,131.0,50.0,27.299999,5.2,91.0,121.0,4.0,4.4,...,-1.0,0.071429,0.001544,75.0,2015.0,4.0,2.0,13.0,38.0,5
3542,2015-04-02 13:43:00,2.0,132.0,50.0,27.299999,5.2,91.0,121.0,4.0,4.4,...,-1.0,0.071429,0.001544,75.0,2015.0,4.0,2.0,13.0,43.0,5
3543,2015-04-02 13:48:00,2.0,137.0,50.0,27.299999,5.2,91.0,121.0,4.0,4.4,...,-1.0,0.071429,0.001544,75.0,2015.0,4.0,2.0,13.0,48.0,5
3544,2015-04-02 13:53:00,2.0,135.0,50.0,27.299999,5.2,91.0,121.0,4.0,4.4,...,-1.0,0.071429,0.001544,75.0,2015.0,4.0,2.0,13.0,53.0,5

In [21]:
# get num of entries for each id in the training data
train_counts = formatter.train_data.groupby('id').count().sort_values('id').iloc[:, 0:1].rename(columns={'time': 'num_test_entries'})

# add max time from training to train_counts
train_counts['max_time'] = formatter.train_data.groupby('id').max().sort_values('id')['time']

# join testing data on ids
test_counts = formatter.test_data.groupby('id').count().sort_values('id').iloc[:, 0:1].rename(columns={'time': 'num_test_entries'})
test_counts['min_time'] = formatter.test_data.groupby('id').min().sort_values('id')['time']


train_counts = train_counts.join(test_counts, how='outer', lsuffix='_train', rsuffix='_test')
train_counts

,num_test_entries_train,max_time,num_test_entries_test,min_time
id,,,,
0.0,1386.0,2015-04-01 07:08:00,336,2015-04-01 11:13:00
1.0,1386.0,2015-11-29 04:37:00,336,2015-11-29 08:42:00
2.0,NaN,NaT,1769,2015-04-02 13:33:00
3.0,1400.0,2016-01-18 09:33:00,336,2016-01-18 13:38:00
4.0,740.0,2016-01-31 10:02:00,208,2016-02-02 12:37:00
5.0,1400.0,2015-11-30 21:11:00,336,2015-12-01 01:16:00
6.0,1207.0,2015-05-12 05:14:00,336,2015-05-12 09:19:00
7.0,1318.0,2015-11-22 06:21:00,458,2015-11-22 16:16:00
8.0,1391.0,2015-03-31 12:34:00,215,2015-03-31 13:14:00
9.0,1220.0,2015-07-26 23:03:00,252,2015-08-11 00:21:00
10.0,1391.0,2016-02-14 22:57:00,264,2016-02-15 00:17:00
11.0,NaN,NaT,1710,2015-11-04 14:48:00
12.0,1030.0,2015-09-18 18:38:00,336,2015-09-19 17:53:00
14.0,1164.0,2015-09-29 18:08:00,459,2015-09-29 19:23:00
15.0,1109.0,2015-09-19 18:01:00,274,2015-09-20 11:21:00
16.0,1421.0,2015-10-17 22:59:00,336,2015-10-18 03:04:00
17.0,1353.0,2016-02-21 19:47:00,200,2016-02-22 23:41:00
18.0,1184.0,2015-11-16 02:37:00,429,2015-11-16 19:57:00
19.0,1385.0,2015-12-07 11:58:00,200,2015-12-07 15:08:00
20.0,1414.0,2016-04-11 22:24:00,205,2016-04-12 18:23:00
21.0,1400.0,2015-12-12 10:09:00,336,2015-12-12 14:14:00
22.0,1272.0,2016-05-29 04:39:00,336,2016-05-29 08:44:00
23.0,1163.0,2016-08-07 00:50:00,336,2016-08-07 18:30:00
24.0,1334.0,2016-09-14 08:17:00,304,2016-09-15 01:32:00
25.0,1422.0,2016-09-07 16:52:00,336,2016-09-07 20:57:00
26.0,1399.0,2016-09-25 20:34:00,336,2016-09-26 00:39:00
27.0,NaN,NaT,1782,2016-11-01 00:01:00
28.0,608.0,2016-11-03 16:05:00,504,2016-11-05 23:00:00
29.0,1422.0,2016-11-26 23:38:00,336,2016-11-27 03:43:00
30.0,1399.0,2016-11-26 10:04:00,336,2016-11-26 14:09:00
31.0,1136.0,2016-11-26 06:58:00,400,2016-11-26 23:43:00
32.0,1408.0,2017-01-17 05:54:00,311,2017-01-17 16:23:00
33.0,1398.0,2017-01-16 18:44:00,201,2017-01-16 19:59:00
34.0,NaN,NaT,1564,2017-01-12 14:50:00
35.0,1192.0,2017-02-04 03:13:00,423,2017-02-04 19:58:00
36.0,1331.0,2017-03-18 03:57:00,304,2017-03-18 21:12:00
37.0,1401.0,2017-03-19 10:10:00,336,2017-03-19 14:15:00
38.0,1444.0,2017-03-23 13:12:00,336,2017-03-23 17:17:00
39.0,1296.0,2017-03-22 07:02:00,274,2017-03-23 00:17:00
40.0,1421.0,2017-03-22 13:10:00,336,2017-03-22 17:15:00
41.0,NaN,NaT,1798,2017-03-22 19:09:00
42.0,1466.0,2017-04-23 16:59:00,336,2017-04-23 21:04:00
43.0,1355.0,2017-04-22 09:29:00,474,2017-04-22 11:59:00
44.0,1482.0,2017-04-24 21:14:00,200,2017-04-25 15:09:00
45.0,1401.0,2017-04-24 10:50:00,336,2017-04-24 14:55:00
46.0,NaN,NaT,1490,2017-04-25 01:19:00
47.0,1296.0,2017-05-15 18:08:00,336,2017-05-15 22:13:00
48.0,1110.0,2017-05-07 10:38:00,336,2017-05-08 14:38:00
49.0,1400.0,2017-05-24 10:06:00,336,2017-05-24 14:11:00
50.0,927.0,2017-05-24 05:13:00,429,2017-05-24 21:53:00
51.0,1059.0,2017-06-05 14:57:00,336,2017-06-07 01:57:00
52.0,621.0,2017-06-05 00:02:00,244,2017-06-07 01:32:00
53.0,1111.0,2017-06-09 10:41:00,504,2017-06-10 03:56:00
54.0,622.0,2017-06-09 03:13:00,207,2017-06-13 20:48:00
55.0,1355.0,2017-07-03 07:40:00,336,2017-07-03 11:45:00
56.0,911.0,2017-07-07 13:07:00,510,2017-07-08 15:07:00